.log-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    height: 100%;
  }
  
  .log-container::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    border-color: none;
  }
  
  .first-line {
    display: flex;
    flex: 0;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .worklog-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    overflow: scroll;
    border: 1.75px darkslategrey solid;
    border-radius: 10px;
  }
  
  .worklog-container::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  
  @media (max-width: 1040px) {
    .log-container {
      width: 100%;
      /* Adjust the percentage based on your design */
    }
    .worklog-container {
      width: auto;
    }
  }
  